@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = null;
   
}

<html>
<head>
    <!-- Scripts, css que traigo de las web-->
    @{
        Html.RequiresCss("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", new
        {
            integrity = "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
            crossorigin = "anonymous"
        });
        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");





        Html.RequiresJs("https://code.jquery.com/jquery-3.2.1.slim.min.js",
        new
        {
            integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
            crossorigin = "anonymous"
        });

        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
        new
        {
            integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
            crossorigin = "anonymous"
        });


        Html.RequiresJs("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
        new
        {
            integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
            crossorigin = "anonymous"
        });

        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js");


       
        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js");

        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");


      


    }
    <!--aqui va el css-->
    @Html.RenderCssHere()

</head>
<body>
    @{Html.RenderAction("NavBar", "NavBarSurface", new { Id = Model.Id }); }

    @RenderBody()


    @{Html.RenderAction("Footer", "FooterSurface", new { Id = Model.Id }); }

    <!--aqui va el js-->
    @Html.RenderJsHere()


</body>


</html>